body {
    margin: 0;
    font-family: sans-serif;
    background-color: #0a0c27; /* Cor de fundo escura */
    overflow: hidden; /* Esconde barras de rolagem */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.starry-night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Login.jpg'); /* Substitua pela sua imagem */
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 30px;
}

.logo img {
    max-width: 400px; /* Ajuste o tamanho do logo conforme necessário */
    height: auto;
    display: block;
}

.login-button {
    background-color: #00fbff43;
    color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 10px; 
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold; 
}

.login-button:hover {
    background-color: #3333FF; /* Um tom de azul mais claro no hover */
}